/* Color pallete: http://www.colourlovers.com/palette/3002622/new_city */

body {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  text-align: justify;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: underline dashed;
  color: black;
}

a:hover {
  text-decoration: none;
}

strong, em, th {
  color: #6C81AE;
}

h1 {
  font-family: 'Merriweather', serif;
}

h1 {
  color: #585574;
}

h2, h3 {
  color: #716589;
}

ol#atv {
  counter-reset: section -1;
}
ol {
  counter-reset: section;
  list-style-type: none;
}

ol li::before {
  counter-increment: section;
  content: counters(section,".") ". ";
}

table {
  border: 1px solid #bbb;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  border-spacing: 0;
  border-collapse: separate;
}

tr:nth-child(even) {
  background-color: #c8b7a769;
}

tr:hover {
  background-color: #6c81ae69;
}

tr:hover:nth-child(1) {
  background-color: #fff;
}

td {
  padding: 5px;
}
